body{

     background: linear-gradient(to right, #87cbbf, #a4add3);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 20px;
  color: #1d1d1d;
}
.game-contain{
width: 90%;
height: 60vh;
background-color: rgb(255, 255, 255);
border: 4px solid #3b3b3b;
border-radius: 15px;
margin: 30px auto;
position: relative;
/* overflow: hidden; */
}
#play{
width: 60px;
height: 60px;
border-radius: 50%;
background:radial-gradient(circle at 30% 30%,#ff3d00,#b71c1c);
position: absolute;
left: 100px;
bottom: 100px;
/* transition: all 0.2 ease; */
}
.controls {
  margin-top: 40px;
}
 
.control-row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

 button {
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  /* transition: 0.2s; */
}

button:hover {
  background: rgb(193, 192, 192);
  color: white;
} 