body{

     background: linear-gradient(to right, #adc5c0, #bcc2db);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 20px;
  color: #1d1d1d;
}
.game-contain{
width: 90%;
height: 60vh;
background-color: rgb(255, 255, 255);
border: 4px solid #3b3b3b;
border-radius: 15px;
margin: 30px auto;
position: relative;
overflow: hidden;
background-image: url('../images/pixel-2d-retro-8-bit-only-stairs-game-background_730604-1270.avif');
background-repeat: repeat-x;      
background-size: cover;
}
#play{
width: 60px;
height: 60px;
border-radius: 50%;
position: absolute;
left: 90px;
bottom: 130px;
transition: all 0.2 ease;
background-image: url('../images/small-super-mario-game-character-png-29.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    pointer-events: none;
}
.controls {
  margin-top: 40px;
}
 
.control-row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

 button {
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: 0.2s;
}

button:hover {
  background: rgb(193, 192, 192);
  color: white;
} 